.home {
    height: 70svh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--LR-Padding);
    /* background-color: red; */
}

.profileImageHolder {
    /* background-color: red; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.profileHello {
    padding-right: 30px;
}
.profileHello h1{
    font-size: 48px;
    font-weight: 500;
}

@media screen and (max-width: 700px){
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .profileHello h1{
        margin-bottom: 20px;
        font-size: 36px;
    }
}