.MainAbout {
  min-height: calc(80dvh - 80px);
  display: flex;
  align-items: center;
}

.aboutText h1 {
  font-size: clamp(34px, 5vw, 50px);
  font-weight: 300;
  max-width: 1500px;
}

.aboutText h2 {
  font-size: 32px;
  font-weight: 500;
  /* max-width: 800px; */
  margin-bottom: 50px;
}

.aboutText p {
  margin-bottom: 25px;
  /* max-width: 800px; */
}
.aboutText h3 {
  font-size: 24px;
  margin: 30px 0px;
}

.bullets p {
  margin-bottom: 0;
}

.quote {
  font-size: 48px;
}

.infoAbout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bottomPart {
  max-width: 50%;
}

.FlexImage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ImageHolder {
  position: relative;
  width: calc(40% - 60px);
  aspect-ratio: 3 / 2;
}

.MySkills {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.MySkill {
  min-width: 200px;

  padding: 5px 10px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  margin-right: 10px;
  margin-bottom: 10px;

  border: solid 1px var(--border-color);
  cursor: pointer;
  transition: 0.2s linear;
}

.MySkill:hover {
  background-color: rgba(129, 129, 129, 0.185);
}

.MySkill img {
  background-color: var(--dark-enhance);
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}

.MySkill .title {
  font-weight: 800;
}

.MySkill .sub {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .MainAbout {
    min-height: calc(100dvh - 80px);
  }
  .bottomPart {
    max-width: none;
  }
  .ImageHolder {
    display: none;
  }
}
