.playground table {
  width: 100%;
  border-collapse: collapse;
}

.playground table th {
  text-align: start;
  border-bottom: solid 1px var(--negative-background);
  padding: 10px var(--LR-Padding);
}

.PlaygroundItemRow td {
  padding: 10px var(--LR-Padding);
  font-size: 24px;

  border-bottom: solid 1px var(--negative-background);
}

.PlaygroundItemRow {
  position: relative;
}
.PlaygroundItemRow::after {
  position: absolute;
  content: '';
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--negative-background);
  transform: scaleY(0);
  transition: 0.4s;
  z-index: -1;
}
.PlaygroundItemRow:hover::after {
  transform: scaleY(1);
}

.PlaygroundItemRow:hover {
  color: var(--primary-background);
  cursor: pointer;
}

.ImageHolderPlayground {
  position: fixed;

  height: 500px;
  width: 600px;

  right: 30px;
  top: 25%;
  opacity: 0;

  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .ImageHolderPlayground {
    position: fixed;
    width: 80vw;
    height: 300px;
    right: 20px;
    top: calc(100% - 350px);
  }
}
