.dropdown {
    position: absolute;
    background-color: #18181b;
    list-style: none;
    z-index: 2;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    right: 0;
    top: calc(100% + 10px);
    
    transform-origin: top;
    scale: 0.8;
    opacity: 0;
    overflow: hidden;
    transition: scale 0.2s ease, opacity 0.2s ease;
  }
  
  .dropdown.active {
    opacity: 1;
    scale: 1;
  }
  
  .dropdown li {
    text-align: start;
    padding: 10px 70px 10px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    color: white;
    transition: 0.1s ease-in;
  }
  
  .dropdown li:hover {
    background-color: #27272c;
  }
  