:root {
  --LR-Padding: 50px;
  --primary-background: #f5f5f0;
  --secondary-background: #f5f5f0;

  --negative-background: #010409;

  --grey-backgroundColor: #464646;
  --grey-textColor: #8f8f8e;

  --dark-enhance: rgba(27, 27, 27, 0.164);

  --border-color: rgba(0, 0, 0, 0.288);
}

[data-theme='dark'] {
  --primary-background: #010409;
  --secondary-background: #0d1117;
  --grey-backgroundColor: #363733;
  background-color: var(--primary-background);
  color: white;

  --negative-background: #f5f5f0;

  --dark-enhance: rgba(211, 211, 211, 0.295);

  --border-color: rgba(197, 197, 197, 0.151);
}

[data-theme-svg='dark'] {
  filter: invert(100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
}

.flexItems {
  display: flex;
}

@media screen and (max-width: 800px) {
  :root {
    --LR-Padding: 30px;
  }
}
