:root {
  --LR-Padding: 50px;
  --grey-backgroundColor: #464646;
  --grey-textColor: #8f8f8e;
  --secondary-background: rgba(219, 207, 176, 0.411); 
  --secondary-light: rgba(229, 223, 208, 0.41); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 800px){
  :root {
  --LR-Padding: 30px;
  }
}