:root {
  --LR-Padding: 50px;
  --grey-backgroundColor: #464646;
  --grey-textColor: #8f8f8e;
  --secondary-background: #5656e5; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
